<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://phlix.app/phlixtizen"
        version="1.0.0"
        viewmodes="maximized">

    <access origin="*" subdomains="*"></access>
    <tizen:application id="phlix.app.phlixtizen"
                       package="phlix"
                       required_version="2.3"/>

    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>Phlix</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.window"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
    <tizen:privilege name="http://tizen.org/privilege/network.get"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>

    <tizen:setting screen-orientation="landscape"
                   context-menu="enable"
                   background-support="disable"
                   encryption="disable"
                   install-location="auto"/>

    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/screen.orientation.landscape"/>

</widget>
